@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f0f0;
  --background-2: #e7e7e7;
  --background-3: #090909;
  --background-4: #070707;
  --background-5: #121212;

  --border: #d8d8d8;
  --border-2: #202020;

  --color: #222222;
  --color-2: #777777;
  --color-3: #e0dfdd;
  --color-4: #e0dfdd;
  --color-5: #818181;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--background);
  width: 100dvw;
  overflow-x: hidden;
  font-family: "Inter";
}

@layer base {
  @font-face {
    font-family: "general";
    src: url("/fonts/general.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    src: url("/fonts/inter.ttf") format("truetype");
  }
  @font-face {
    font-family: "Chivo Mono";
    src: url("/fonts/chivo.ttf") format("truetype");
  }
}

@layer utilities {
  .c-n {
    @apply cursor-none;
  }

  .c-p {
    @apply cursor-pointer;
  }

  .text-active {
    @apply text-color2;
  }
  .about-text {
    b {
      @apply tracking-[-1px] font-[600];
    }
  }
  .about-paragraph:first-child {
    p {
      text-indent: 20vw;
    }
  }
  .about-paragraph:nth-child(2) {
    p {
      text-indent: 10vw;
    }
  }
  .blog-text {
    h1 {
      @apply mb-[2rem] text-[2.25rem] font-[600] tracking-[-.5px] leading-[1.2] uppercase max-tablet:text-[2rem] max-mobile:text-[1.5rem];
    }
    p {
      @apply mt-[2.14em] mb-[-0.46em] text-[#303030] text-[18px] font-[400] tracking-[-0.003em] leading-[28px] max-tablet:text-[1rem];
    }
    b {
      @apply tracking-[-1px] font-[600];
    }
  }
}

.blog-text > p:first-of-type::first-letter {
  initial-letter: 2 2;
  color: #070707;
  margin-right: 0.25rem;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
}

.stairs .transition-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 999;
}

.stairs .transition-container div {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: black;
}
.stairs .transition-text {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: wheat;
}

.stairs .transition-background {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 998;
  pointer-events: none;
  top: 0;
  left: 0;
}

::-webkit-scrollbar {
  display: none;
}
